.section-mockup {
    height: 100%;
    
    z-index: 1;
    background-color: rgb(0, 0, 0);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.mockup {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    filter: grayscale(50%);

    mask-image: linear-gradient(to top, black, transparent 80%);
    -webkit-mask-image: linear-gradient(to top, black, transparent 80%);

    z-index: 1;
}



.mockupMask {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16 / 9;
    z-index: 3;
}

.text-wrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.wrapper h1 {
    font-size: clamp(2.5rem, 0.0444rem + 11.4213vw, 13.75rem);
    color: white;
}


@media (max-width: 1024px) {
    .wrapper h1 {}

    .mockupMask {
        width: 130vw;
    }

    .mockup {
        width: 130vw;
    }
}

@media (max-width: 724px) {
    .wrapper h1 {}

    .mockupMask {
        width: 180vw;
    }

    .mockup {
        width: 180vw;
    }
}