.section-mockup {
    height: 100vh;
    z-index: -99;
}

.wrapper {
    height: 100%;
}

.mockup {
    position: relative;
    width: 100vw;
    height: auto;
    object-fit: cover;
    z-index: -1;
    filter: grayscale(50%);
    background: linear-gradient(to top, black, transparent 80%);
    mask-image: linear-gradient(to top, black, transparent 80%);

}

.mockupMask {
    position: absolute;
    width: 100vw;
    height: auto;
    object-fit: cover;
    z-index: 2;
}

.text-wrapper {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper h1{
    font-size: 250px;
    color: rgb(255, 255, 255);
}
