/* Team Section */
.team-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000000;
}

.wrapper-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: fit-content;

}

.team-section h2 {
  font-size: 3rem;
  color: #ffffff;
  margin: 2rem 0 6rem 0;
}

/* Grid container */
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
  height: auto;
  margin: auto;
  text-align: center;
  background: rgb(255, 255, 255);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  overflow: hidden;
  backdrop-filter: blur(10px);
  margin: 20px;
  border-radius: 8px;
}

.card h1 {
  font-size: 1.5rem;
  color: #181717;
}

.card p {
  font-size: 0.8rem;
  color: #2e2d2d;
  margin: 0.5rem 0 1rem 0;


}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 16px;
}

/* Tablet */

@media (max-width: 1800px) {

  .wrapper-team {
    width: 90%;
    margin: 120px 0;
  }
}

@media (max-width: 1600px) {

  .wrapper-team {
    width: 60%;
    margin: 100px 0;
  }
  .card {
    width: 150px;
  }

  .card h1 {
    font-size: 1.5rem;
  }
  .card p {
    font-size: 0.8rem;
  }
}

@media (max-width: 1200px) {
  .team-section h2 {
    font-size: 3rem;
  }

  .wrapper-team {
    width: 80%;
    margin: 100px 0;
  }

  .card {
    width: 150px;
  }

  .card h1 {
    font-size: 1.5rem;
  }
  .card p {
    font-size: 0.8rem;
  }
}

/* Small tablets / large phones */
@media (max-width: 768px) {
  .team-section {
    height: fit-content;
  }

  .team-section h2 {
    font-size: 2.3rem;
  }

  .wrapper-team {
    width: 80%;
  }

  .card h1 {
    font-size: 1.5rem;
  }
  .card {
    width: 130px;
  }
}

/* Mobile */
@media (max-width: 480px) {


  .card h1 {
    font-size: 1.2rem;
  }

  .card p {
    font-size: 0.7rem;
  }

  .wrapper-team {
    width: 80%;
  }

  .team-section {
    height: fit-content;
  }

  .card {
    width: 100px;
  }


}

@media (max-width: 375px) {

  .wrapper-team {
    width: 90%;
  }

  .card {
    width: 110px;
  }

  .card h1 {
    font-size: 1.3rem;
  }

  .card p {
    font-size: 0.8rem;
  }
}