/* Team Section */
.team-section {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000000;
}

.wrapper-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: fit-content;
  margin: 0 0 20px 0;
}

.team-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff;
}

/* Grid container */
.team {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
}

/* Cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: aliceblue;
}

.card img {
  width: 100%;
}

.card h1 {
  color: #292828;
}

.card p {
  color: #292929;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

/* Tablet */

@media (max-width: 1400px) {
  .team {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 1000px;
  }

  .wrapper-team {
    margin: 100px 0;
  }
}

@media (max-width: 1024px) {
  .team-section h2 {
    font-size: 1.8rem;
  }

  .team {
    grid-template-columns: repeat(3, 1fr);
    width: 80%;

  }

  .card {
    width: 200px;
    max-width: 100%;
  }

  .card img {
    max-height: 200px;
  }
}

/* Small tablets / large phones */
@media (max-width: 768px) {
  .team-section {
    height: fit-content;
  }

  .team-section h2 {
    font-size: 1.6rem;
  }



  .team {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .card {
    width: 200px;
    max-width: 100%;
  }

  .card img {
    max-height: 200px;
  }

  .card h3 {
    font-size: 1rem;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .team {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }



  .card {
    width: 150px;
    max-width: 100%;
    border-radius: 5px;
  }

  .card img {
    max-height: 140px;
  }

  .card h1 {
    font-size: 2rem;
  }

  .team-section {
    height: fit-content;
  }
}

@media (max-width: 375px) {
  .team {
    gap: 1rem;
  }


}