/* Team Section */
.team-section {
  width: 100%;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000000;
}

.wrapper-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: fit-content;
  margin-bottom: 300px;
}

.team-section h2 {
  font-size: 2rem;
  margin-bottom: 5rem;
  color: #fff;
}

/* Grid container */
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 280px;
  height: auto;
  margin: auto;
  text-align: center;
  background-color: rgba(240, 248, 255, 0.295);
  overflow: hidden;
  margin: 20px;
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 16px;
}

/* Tablet */

@media (max-width: 1400px) {

  .wrapper-team {
    margin: 100px 0;
  }
}

@media (max-width: 1024px) {
  .team-section h2 {
    font-size: 1.8rem;
  }

  

}

/* Small tablets / large phones */
@media (max-width: 768px) {
  .team-section {
    height: fit-content;
  }

  .team-section h2 {
    font-size: 1.6rem;
  }



 


  .card h3 {
    font-size: 1rem;
  }
}

/* Mobile */
@media (max-width: 480px) {
  

  .card img {
    max-height: 140px;
  }

  .card h1 {
    font-size: 2rem;
  }

  .team-section {
    height: fit-content;
  }
}

@media (max-width: 375px) {
  .team {
    gap: 1rem;
  }


}