/* Team Section */
.team-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
}

.wrapper-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 50px 0 50px 0;
}

.team-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff;
}

/* Grid container */
.team {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  max-width: 1800px;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
}

/* Cards */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #0a0a0a;
  padding: 0px 0 20px 0;
  border-radius: 10px;
  width: 100%;
  /* let grid control width */
  max-width: 300px;
  /* optional max width */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  color: #bfbfc5;
  margin: 0 auto;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

/* Card content */
.card img {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}

.card h3 {
  margin-bottom: 6px;
  font-size: 1.1rem;
  color: #fff;
}

/* Tablet */

@media (max-width: 1400px) {
  .team {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 1000px;
  }
}

@media (max-width: 1024px) {
  .team-section h2 {
    font-size: 1.8rem;
  }

  .team {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 80%;

  }

  .card {
    width: 200px;
    max-width: 100%;
  }

  .card img {
    max-height: 200px;
  }
}

/* Small tablets / large phones */
@media (max-width: 768px) {
  .team-section {
    height: fit-content;
  }

  .team-section h2 {
    font-size: 1.6rem;
  }

  .wrapper-team {
    margin-top: 100px;
  }

  .team {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .card {
    width: 200px;
    max-width: 100%;
  }

  .card img {
    max-height: 200px;
  }

  .card h3 {
    font-size: 1rem;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .team {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .wrapper-team {
    margin: 70px 0 20px 0;
  
  }

  .card {
    width: 150px;
    max-width: 100%;
    border-radius: 5px;
  }

  .card img {
    max-height: 140px;
  }

  .card h3 {
    font-size: 0.95rem;
  }

  .team-section {
    height: fit-content;
  }
}

@media (max-width: 375px) {
  .team {
    gap: 1rem;
  }

  .wrapper-team {
    margin: 70px 0 20px 0;
  }
}