body {
  margin: 0;
  padding: 0;
}



.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.bg-cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -99;
  background-color: black;
}


@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: scale(1.1) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

@keyframes rfid-loop {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  opacity: 1;
  scale: 1;
  z-index: 10;
}


#top-hometext {
  font-size: clamp(3.125rem, 1.1529rem + 7.4142vw, 11.25rem);
  font-family: "Audiowide", sans-serif;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(199, 199, 199, 1) 23%, rgba(150, 150, 150, 1) 50%, rgba(199, 199, 199, 1) 79%, rgba(255, 255, 255, 1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 200%;
  animation: home-text 2s linear infinite;
  line-height: 1;
  margin: 0;
  z-index: 1;
  position: relative;
}

@keyframes home-text {
  to {
    background-position: 200%;
  }

}

.hero p {
  font-size: clamp(0.75rem, 0.5727rem + 0.8249vw, 1.5625rem);
  width: 50%;
  text-align: center;
  margin: 2.5rem 0 0 0;
}


.home-des {
  font-size: clamp(1.5625rem, 1.25rem + 1.0417vw, 2.5rem);
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #b1b1b1;
  text-align: center;
  margin: 0;
}



@media (max-width: 768px) {
  .hero p {
    width: 80%;
    text-align: center;
    margin: 2.5rem 0 0 0;
  }
}

@media (max-width: 480px) {}