.footer {
  width: 100%;
  background: #181818ea;
  backdrop-filter: blur(50px);
  color: white;
  padding: 40px 0;
}

.content {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left {
  max-width: 300px;
}

.logo {
  font-family: "Audiowide", sans-serif;

  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.desc {
  font-size: 20px;
  opacity: 0.7;
  line-height: 1.6;
}

.links,
.social {
  display: flex;
  flex-direction: column;
}

.links h3,
.social h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.links a,
.social a {
  color: #e0e0e0;
  text-decoration: none;
  margin-bottom: 6px;
  transition: 0.3s ease;
}

.links a:hover,
.social a:hover {
  color: #ffffff;
  transform: translateX(5px);
}

.bottom {
  width: 100%;
  text-align: center;
  border-top: 1px solid #222;
  padding-top: 15px;
  margin-top: 30px;
  font-size: 14px;
  opacity: 0.6;
}

/* Mobile */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .links a:hover,
  .social a:hover {
    transform: none;
  }
}
