body {
    margin: 0;
    padding: 0;

}

#smooth-wrapper {
  overflow: hidden;
  position: relative;
}

#smooth-content {
  min-height: 100vh;
  position: relative;
}

.bg-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.head-pos {
  position: absolute;
  z-index: 10;
}


@media(max-width: 1024px) {
    .bg-cursor {
        display: none;
    }
}